<!-- header design -->
<header
  class="header z-[100] fixed top-0 left-0 w-full flex justify-between items-center bg-primary"
>
  <a href="#" class="logo text-white font-semibold">Portfolio.</a>

  <div class="bx bx-menu text-6xl text-white hidden" id="menu-icon"></div>

  <nav class="navbar">
    <!-- TODO - Active -->
    <a href="#home" class="active text-3xl text-white ml-16">Home</a>
    <a href="#about" class="text-3xl text-white ml-16">About</a>
    <a href="#services" class="text-3xl text-white ml-16">Services</a>
    <a href="#portfolio" class="text-3xl text-white ml-16">Portfolio</a>
    <a href="#contact" class="text-3xl text-white ml-16">Contact</a>
  </nav>
</header>

<!-- home section design -->
<section class="flex justify-center items-center" id="home">
  <div class="home-content">
    <h3 class="!text-5xl !font-bold">Hello, It's Me</h3>
    <h1 class="!text-6xl !font-bold">Viktor Szőke</h1>
    <h3 class="!text-5xl !font-bold mb-8">
      And I'm a <span class="multiple-text" id="element"></span>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore aliquam,
      modi aspernatur placeat architecto amet laudantium id.
    </p>
    <div class="social-media">
      <a
        href="#"
        class="inline-flex justify-center items-center w-16 h-16 bg-transparent text-3xl text-custom-blue"
        ><i class="bx bxl-facebook"></i
      ></a>
      <a
        href="#"
        class="inline-flex justify-center items-center w-16 h-16 bg-transparent text-3xl text-custom-blue"
        ><i class="bx bxl-twitter"></i
      ></a>
      <a
        href="#"
        class="inline-flex justify-center items-center w-16 h-16 bg-transparent text-3xl text-custom-blue"
        ><i class="bx bxl-instagram-alt"></i
      ></a>
      <a
        href="#"
        class="inline-flex justify-center items-center w-16 h-16 bg-transparent text-3xl text-custom-blue"
        ><i class="bx bxl-linkedin"></i
      ></a>
    </div>
    <a
      href="#"
      class="btn inline-block text-2xl font-semibold bg-custom-blue text-primary-second"
      >Download CV</a
    >
  </div>

  <div class="home-img">
    <!-- <img src="images/home.png" alt="" /> -->
    <img src="assets/portre.png" alt="" />
  </div>
</section>

<!-- about section design -->
<section
  class="about bg-primary-second flex justify-center items-center gap-8"
  id="about"
>
  <div class="about-img">
    <!-- <img src="images/about.png" alt="" /> -->
    <img src="assets/portre.png" alt="" />
  </div>

  <div class="about-content">
    <h2 class="text-center text-7xl">About <span>Me</span></h2>
    <h3>Frontend Developer!</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore officia
      asperiores labore officiis suscipit ex at non impedit nostrum animi illum
      mollitia itaque reprehenderit laudantium molestiae eum porro molestias
      repudiandae, amet ea eos alias corporis laborum nobis. Tempore deserunt
      repellendus quos nihil voluptas aut est suscipit.
    </p>
    <a
      href="#"
      class="btn inline-block text-2xl font-semibold bg-custom-blue text-primary-second"
      >Read More</a
    >
  </div>
</section>

<!-- services section design -->
<section class="services" id="services">
  <h2 class="text-center text-7xl">My <span>Services</span></h2>

  <div
    class="services-container flex justify-center items-center flex-wrap gap-8"
  >
    <div class="services-box bg-primary-second">
      <i class="bx bx-code-alt text-custom-blue"></i>
      <h3>Web Development</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
        dignissimos vitae magni aut commodi non laborum nisi alias iusto
        voluptatibus.
      </p>
      <a
        href="#"
        class="btn inline-block text-2xl font-semibold bg-custom-blue text-primary-second"
        >Read More</a
      >
    </div>

    <div class="services-box bg-primary-second">
      <i class="bx bxs-paint text-custom-blue"></i>
      <h3>Graphic Design</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
        dignissimos vitae magni aut commodi non laborum nisi alias iusto
        voluptatibus.
      </p>
      <a
        href="#"
        class="btn inline-block text-2xl font-semibold bg-custom-blue text-primary-second"
        >Read More</a
      >
    </div>

    <div class="services-box bg-primary-second">
      <i class="bx bx-bar-chart-alt text-custom-blue"></i>
      <h3>Digital Marketing</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
        dignissimos vitae magni aut commodi non laborum nisi alias iusto
        voluptatibus.
      </p>
      <a
        href="#"
        class="btn inline-block text-2xl font-semibold bg-custom-blue text-primary-second"
        >Read More</a
      >
    </div>
  </div>
</section>

<!-- portfolio section design -->
<section class="portfolio bg-primary-second" id="portfolio">
  <h2 class="text-center text-7xl">Latest <span>Project</span></h2>

  <div class="portfolio-container grid items-center">
    <div class="portfolio-box relative overflow-hidden flex">
      <img src="assets/portfolio1.jpg" alt="" class="w-full" />
      <div
        class="portfolio-layer absolute bottom-0 left-0 w-full h-full flex justify-center items-center flex-col text-center"
      >
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
          ratione.
        </p>
        <a
          href="#"
          class="bg-white inline-flex justify-center items-center w-20 h-20"
          ><i class="bx bx-link-external text-primary-second"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box relative overflow-hidden flex">
      <img src="assets/portfolio1.jpg" alt="" class="w-full" />
      <div
        class="portfolio-layer absolute bottom-0 left-0 w-full h-full flex justify-center items-center flex-col text-center"
      >
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
          ratione.
        </p>
        <a
          href="#"
          class="bg-white inline-flex justify-center items-center w-20 h-20"
          ><i class="bx bx-link-external text-primary-second"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box relative overflow-hidden flex">
      <img src="assets/portfolio1.jpg" alt="" class="w-full" />
      <div
        class="portfolio-layer absolute bottom-0 left-0 w-full h-full flex justify-center items-center flex-col text-center"
      >
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
          ratione.
        </p>
        <a
          href="#"
          class="bg-white inline-flex justify-center items-center w-20 h-20"
          ><i class="bx bx-link-external text-primary-second"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box relative overflow-hidden flex">
      <img src="assets/portfolio1.jpg" alt="" class="w-full" />
      <div
        class="portfolio-layer absolute bottom-0 left-0 w-full h-full flex justify-center items-center flex-col text-center"
      >
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
          ratione.
        </p>
        <a
          href="#"
          class="bg-white inline-flex justify-center items-center w-20 h-20"
          ><i class="bx bx-link-external text-primary-second"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box relative overflow-hidden flex">
      <img src="assets/portfolio1.jpg" alt="" class="w-full" />
      <div
        class="portfolio-layer absolute bottom-0 left-0 w-full h-full flex justify-center items-center flex-col text-center"
      >
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
          ratione.
        </p>
        <a
          href="#"
          class="bg-white inline-flex justify-center items-center w-20 h-20"
          ><i class="bx bx-link-external text-primary-second"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box relative overflow-hidden flex">
      <img src="assets/portfolio1.jpg" alt="" class="w-full" />
      <div
        class="portfolio-layer absolute bottom-0 left-0 w-full h-full flex justify-center items-center flex-col text-center"
      >
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
          ratione.
        </p>
        <a
          href="#"
          class="bg-white inline-flex justify-center items-center w-20 h-20"
          ><i class="bx bx-link-external text-primary-second"></i
        ></a>
      </div>
    </div>
  </div>
</section>

<!-- contact section design -->
<section class="contact pb-28" id="contact">
  <h2 class="text-center text-7xl mb-12">Contact <span>Me!</span></h2>

  <form action="#" class="text-center mb-12 my-4 mx-auto">
    <div class="input-box">
      <input type="text" placeholder="Full Name" />
      <input type="email" placeholder="Email Address" />
    </div>
    <div class="input-box">
      <input type="text" placeholder="Mobile Number" />
      <input type="text" placeholder="Email Subject" />
    </div>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Your Message"
    ></textarea>
    <input
      type="submit"
      value="Send Message"
      class="btn inline-block text-2xl font-semibold bg-custom-blue text-primary-second"
    />
  </form>
</section>

<!-- footer design -->
<footer class="footer">
  <div class="footer-text">
    <p>
      Copyright &copy; {{ date.getFullYear() }} by Codehal | All Rights
      Reserved.
    </p>
  </div>

  <div
    class="footer-iconTop bg-custom-blue inline-flex justify-center items-center p-3 rounded-lg"
  >
    <a href="#home"><i class="bx bx-up-arrow-alt text-primary-second"></i></a>
  </div>
</footer>
