<!-- <div
  class="bg-cover bg-center bg-no-repeat"
  [ngStyle]="{ 'background-image': getUrl() }"
>
  <h1 class="text-center text-6xl py-12 z-10">
    {{ data.title }}
  </h1>
  <p class="p-12 text-3xl z-10">
    {{ data.description }}
  </p>
</div> -->
<div
  class="bg-cover bg-center bg-no-repeat absolute top-0 left-0 right-0 bottom-0 opacity-10"
  [ngStyle]="{ 'background-image': getUrl() }"
></div>
<div class="bg-primary-second">
  <h1 class="text-center text-6xl pt-12 z-10 relative">
    {{ data.title }}
  </h1>
  <p class="p-12 text-3xl z-10 relative">
    {{ data.description }}
  </p>
  <div class="flex justify-center pb-12 z-10 relative">
    <button
      (click)="close()"
      class="btn inline-block text-2xl font-semibold bg-custom-blue text-primary-second focus:outline-none"
    >
      Close
    </button>
  </div>
</div>
