<div class="project-dialog">
  <div class="project-dialog__content">
    <span class="project-dialog__eyebrow">{{ data.category }}</span>
    <h1>{{ data.title }}</h1>
    <p class="project-dialog__subtitle">{{ data.subtitle }}</p>

    <div class="project-dialog__tags">
      <span *ngFor="let tag of data.tags">{{ tag }}</span>
    </div>

    <div class="project-dialog__copy">
      <p>{{ data.description }}</p>
      <div class="project-dialog__outcome">
        <h2>Impact</h2>
        <p>{{ data.outcome }}</p>
      </div>
    </div>

    <button (click)="close()" class="project-dialog__button" type="button">
      Close Project
    </button>
  </div>
</div>
