/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif !important;
}

*::selection {
  @apply bg-custom-blue text-primary;
}

.typed-cursor {
  @apply text-custom-blue;
}
